@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@tailwind utilities;

:root {
  --light-primary: #6E8CFB;
  --primary: #636CCB;
  --dark-primary: #50589C;
  --darkest-primary: #3C467B;
}


body {
  background-color: #fff;
}

@font-face {
  font-family: "DigitalNumbers";
  src: url("/fonts/digital_number/DigitalNumbers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.digital-number {
  font-family: "DigitalNumbers", sans-serif;
}

.num-stork {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
  font-weight: 700;
  color: rgba(31, 34, 48, 0.1);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(31, 34, 48, 0.1);
  line-height: 1;
  transition: all 0.42s ease;
}

.features:hover .num-stork {
  -webkit-text-stroke-color: #6c2bd9;
}


/*  */
.border-animate {
  position: relative;
  /* display: inline-block; */
  padding-bottom: 4px;
}

.border-animate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #6c2bd9;
  transition: width 0.4s ease;
}

.border-animate:hover::after {
  width: 100%;
}

/*  */
.modal-overlay {
  background-color: rgba(10, 10, 10, 0.8);
  /* backdrop-filter: blur(4px) !important; */

}

.gradient-text {
  /* 1. Define the gradient */
  background: linear-gradient(90deg, #ff007e, #00fff2);

  /* 2. Clip the background to the text shape (Vendor prefixes are crucial for compatibility) */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Make the actual text transparent so the background can show through */
  color: transparent;

  /* Optional: Ensure the background color doesn't repeat */
  -webkit-text-fill-color: transparent;
  /* Alternative for older WebKit browsers */
}


/* Text editor */
/* github.com/megahertz/react-simple-wysiwyg */
.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}