@import "tailwindcss";


.animated-gradient {
  background: linear-gradient(to left, #32c36c 0%, transparent 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
}

.animated-gradient:hover {
  background-size: 100% 100%;
}
